source https://www.nuget.org/api/v2
storage: none
framework: netcoreapp1.1

nuget Newtonsoft.json
nuget Microsoft.NETCore.Platforms < 2
nuget NETStandard.Library < 2
nuget Microsoft.NETCore.Targets < 2
